html {
    background-color: black;
    font-family: fantasy;
}

h1 {
    text-align: center;
    color: white;
    font-family: fantasy;
}
.grid-container {
    display: flex;
    position: relative;
    justify-content: center;
}
.game-grid {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px;
    justify-content: center;
    position: fixed;
}

.hidden-grid {
    z-index: -1;
    position: fixed;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px;
    justify-content: center;
}

.hidden-pic {
    border: 4px solid white;
    margin: 5px;
}

.box {
    background-color:cyan;
    border: 4px solid blue;
    margin: 5px;
}
.box:hover {
    background-color: red;
    border: 4px solid yellow;
}

#timer {
    background-color: red;
    color: yellow;
    padding: 3px 0px 3px 0px;
    border: 1px solid yellow;
    text-align: center;
    width: 100px;
    margin: auto;
}

.nav-bar {
    position: absolute;
    display: flex;
    font-family: fantasy;
}